body{
    background-color: rgb(43, 170, 170);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.asd{
width: 360px;
    height: 550px;
   
    margin: auto;
    background-color:white;
    border-radius: 3px;


}

.abc{    
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: white;

}

h1{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;

}
form label{
    display: flex;
    font-size: 18px;
    margin-top: 20px;
}
form input{
    width: 300px;
    padding: 7px;
    border: 2px solid gray;
   border-radius: 6px;
}

input[type="button"]{
    margin-top: 20px;
    width: 320px;
    height: 35px;
    border: none;
    background-color: darkolivegreen;
    font-size: larger;

}

p{
    margin-top: 20px;
    text-indent: 30px;

}
